attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
Django==2.1.7
django-filter==2.0.0
djangorestframework==3.9.0
djangorestframework-jsonapi==2.8.0
idna==2.10
inflection==0.5.0
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.4.3
pytest-django==3.9.0
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.25.9
wcwidth==0.2.5
